.*
!.gitignore
!.gitattributes
!.obsidian/
!.obsidian.vimrc
.obsidian/*
!.obsidian/themes/
!.obsidian/snippets/
!.obsidian/plugins/
.obsidian/plugins/*
!.obsidian/plugins/obsidian-mind-map
日记/
0-临时/
copilot-custom-prompts/
temp/
